torch
torchvision
pytorch3d @ git+https://github.com/facebookresearch/pytorch3d.git@v0.7.0
tensorboardX==2.6.2.2
open3d==0.18.0
nuscenes-devkit==1.1.11
matplotlib==3.5.3
pillow==10.4.0
pyquaternion==0.9.9
numpy==1.26.4
opencv-python==4.10.0.84
yacs==0.1.8
natsort==8.4.0
